<head>
    <meta charset="utf-8">
    {{!--<meta name="x-csrf-token" content={{_csrf}}>--}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <meta name="author", content="">
    <meta name="description", content="">
    <meta name="keywords", content="">
    <link rel="icon" href="/images/favicon.ico">
    <title>Last Bites</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="/stylesheets/style.css"-->
    <!--link rel="stylesheet" href="/stylesheets/easy-autocomplete.css"-->
    <link rel="stylesheet" href="/stylesheets/cover.css" >
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>
    <link rel="stylesheet" href="/stylesheets/select2-bootstrap.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
