<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Last Bites</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right xmasthead-nav">
                {{#if user}}
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/feed-items">Feed</a></li>
                {{#if user.superUser}}
                <li><a href="/users">Users</a></li>
                <li><a href="/businesses">Businesses</a></li>
                {{/if}}
                <li><a href="/auth/logout">Logout {{user.username}}</a></li>
                {{else}}
                <li class="active"><a href="/">Home</a></li>
                {{#unless hideLogin}}
                <li><a href="/auth/login">Login</a></li>
                {{/unless}}
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{!-- original version }}
<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo" class="navbar-left">
                <a class="ember-view navbar-brand active" href="/"><img alt="Last Bites" src="/images/logo_small.png"></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li>
                        <a href="/auth/logout">Log Out</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/">Home</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{ --}}
{{!-- COVER template version }}
<nav>
    <ul class="nav masthead-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
{{ --}}

