<h1>{{title}}</h1>
<div>
  {{#if messages.error}}
    <div class="row alert alert-danger">
      <strong>Error: {{messages.error}}</strong>
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="row alert alert-danger">
      <strong>Info: {{messages.info}}</strong>
    </div>
  {{/if}}
</div>
<div>
<dl>
  <dt>Name</dt>
  <dd>{{business.name}}</dd>
  {{#if business.address1}}
  <dt>Address1</dt>
  <dd>{{business.address1}}</dd>
  {{/if}}
  {{#if business.address2}}
  <dt>Address2</dt>
  <dd>{{business.address2}}</dd>
  {{/if}}
  {{#if business.city}}
  <dt>City</dt>
  <dd>{{business.city}}</dd>
  {{/if}}
  {{#if business.state}}
  <dt>State</dt>
  <dd>{{business.state}}</dd>
  {{/if}}
  {{#if business.zip}}
  <dt>Zip</dt>
  <dd>{{business.zip}}</dd>
  {{/if}}
  {{#if business.country}}
  <dt>Country</dt>
  <dd>{{business.country}}</dd>
  {{/if}}
</dl>
</div>
