<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="/">home</a></li>
      </ul>
    </div>
    {{{body}}}
    <div class="footer">
    </div>
  </body>
</html>
