<h1>{{title}}</h1>
<div>
  {{#if messages.error}}
    <div class="row alert alert-danger">
      <strong>Error: {{messages.error}}</strong>
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="row alert alert-danger">
      <strong>Info: {{messages.info}}</strong>
    </div>
  {{/if}}
</div>
<div>
  <dl>
    <dt>UserName</dt>
    <dd>{{user.username}}</dd>
    <dt>User Type</dt>
    <dd>{{#if user.superUser}}SuperUser{{else}}User{{/if}}</dd>
    <dt>Email</dt>
    <dd>{{user.email}}</dd>
    <dt>Handle</dt>
    <dd>{{user.profile.handle}}</dd>
    {{#if user.profile.firstName}}
    <dt>First Name</dt>
    <dd>{{user.profile.firstName}}</dd>
    {{/if}}
    {{#if user.profile.lastName}}
    <dt>Last Name</dt>
    <dd>{{user.profile.lastName}}</dd>
    {{/if}}
    {{#if user.profile.city}}
    <dt>City</dt>
    <dd>{{user.profile.city}}</dd>
    {{/if}}
    {{#if user.profile.state}}
    <dt>State</dt>
    <dd>{{user.profile.state}}</dd>
    {{/if}}
    {{#if user.profile.country}}
    <dt>Country</dt>
    <dd>{{user.profile.country}}</dd>
    {{/if}}
  </dl>
</div>
