@footer-size: 40px;
@header-size: 60px;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {

  /* Margin bottom by footer height */
  //margin-bottom: @footer-size;
}

.no-margin {
  margin:0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-size;
  background-color: #f5f5f5;
}

body > .container {
  //padding: @header-size 15px 0;
}

.container .text-muted {
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  padding: 5px;
}

.form-centered {
  max-width: 330px;
  margin: 0 auto;
  padding:0 10px;
}

.copyright {
  margin-top:10px;
  font-size: 10px;
}
