<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    {{> navigation }}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {{> pre-body }}
                <div class="inner cover">
                    {{{ body }}}
                </div>
            </div>
        </div>
    </div>
    {{> post-footer }}
</body>

</html>
