{{> messages }}
<h1>{{title}}</h1>
<form name="filterForm" id="filterForm" action="/businesses/filterLocation" method="post" class="form-centered">
    <h2>Pick the City</h2>
    <div class="form-group input-group-lg">
        <select class="form-control select2 "></select>
    </div>
    <div class="form-group">
        <input id="location" type="hidden" name="location" value="{{location}}">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Select City</button>
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
<script type="text/javascript">
function formatCity(city)
{
    console.log('formatCity: city is ', city);

    var markup = '<div class="col-sm-12">' + city.city + '</div>';
    return markup;

}

function formatCitySelection(city)
{
    console.log('formatCitySelection: city is ', city);
    return city.city;
}

$(document).ready(function()
{
    $(".select2").select2(
        {
            placeholder: "Enter a city",
            theme: "bootstrap",
            allowClear:true,
            ajax:
            {
                url: "/api/businesses/locations",
                dataType: 'json',
                delay: 250,
                data: function(params)
                {
                    console.log('select2.data() params = ', params);

                    return {
                        pattern: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function(data, page)
                {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    console.log('select2.processResults() data = ', data);
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup)
            {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            //templateResult: formatCity,
            //templateSelection: formatCitySelection
        })
        .on("select2:select", function(e) {
            var data = e.params.data;
            //console.log("select2:select, event params is ", JSON.stringify(e.params));
            if (data.selected)
            {
                $("#location").val(data.text);
            }
        });
});
</script>

{{!--
<form name="filterForm" id="filterForm" action="/businesses/filterLocation" method="post" class="form-centered">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>City</td>
            </tr>
        </thead>
        <tbody>
            {{#each locations as |location|}}
                <tr onclick='formSubmit("{{location.city}}");'>
                    <td>{{location.city}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="form-group">
        <input id="categoryInput" type="hidden" name="location" value="{{location}}">
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
<script>
function formSubmit(location)
{
    console.log('formSubmit() location is ', location);
    $("#categoryInput").val(location);
    document.filterForm.submit();
}
</script>
--}}
