{{> messages }}
<h1>{{title}}
  <small><button class="btn btn-link" type="button" onclick="location.href='/businesses/add';" >New Business</button></small>
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Business</td>
            <td>City</td>
            <td>Country</td>
        </tr>
    </thead>
    <tbody>
        {{#each businesses as |business|}}
            <tr onclick='location.href="/businesses/{{business.id}}";'>
                <td>{{business.name}}</td>
                <td>{{business.city}}</td>
                <td>{{business.country}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
