{{> messages }}
<h1>{{title}}</h1>
<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{business.name}}</dd>
    {{#if business.address1}}
        <dt>Address1</dt>
        <dd>{{business.address1}}</dd>
    {{/if}}
    {{#if business.address2}}
        <dt>Address2</dt>
        <dd>{{business.address2}}</dd>
    {{/if}}
    {{#if business.city}}
        <dt>City</dt>
        <dd>{{business.city}}</dd>
    {{/if}}
    {{#if business.state}}
        <dt>State</dt>
        <dd>{{business.state}}</dd>
    {{/if}}
    {{#if business.zip}}
        <dt>Zip</dt>
        <dd>{{business.zip}}</dd>
    {{/if}}
    {{#if business.country}}
        <dt>Country</dt>
        <dd>{{business.country}}</dd>
    {{/if}}
</dl>
<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.history.go(-1); return false;">Go Back</button>
<form name="deleteBusinessForm" id="deleteBusinessForm" action="/businesses/del" method="post" class="form-centered">
    <input type="hidden" name="businessid" value="{{business.id}}">
    <button type="button" class="btn btn-link center-block" onclick="showDialog();">Delete Business</button>
</form>
<script>
function showDialog()
{
    bootbox.dialog(
    {
        message: "Are you sure you want to delete this business?",
        title: "Are you sure?",
        buttons:
        {
            danger:
            {
                label: "Cancel",
                className: "btn-link",
                callback: function()
                {
                    console.log("uh oh, look out!");
                }
            },
            main:
            {
                label: "Delete Business",
                className: "btn-primary",
                callback: function()
                {
                    console.log('user confirmed delete business');
                    document.deleteBusinessForm.submit();
                }
            }
        }
    });
}
</script>
