{{> messages }}
<h1>{{title}}</h1>
<form name="filterForm" id="filterForm" action="/businesses/filterCategory" method="post" class="form-centered">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Category</td>
            </tr>
        </thead>
        <tbody>
            {{#each categories as |category|}}
                <tr onclick='formSubmit("{{category.category}}");'>
                    <td>{{category.category}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="form-group">
        <input id="categoryInput" type="hidden" name="category" value="{{category}}">
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
<script>
function formSubmit(category)
{
    console.log('formSubmit() category is ', category);
    $("#categoryInput").val(category);
    document.filterForm.submit();
}
</script>
