{{> messages}}
<form action="/businesses/add" method="post" class="form-centered">
    <h2>Add a Business</h2>
    <div class="form-group">
        <input type="text" name="newBusiness[name]" value="{{newBusiness.name}}" placeholder="Enter the business name" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newBusiness[address1]" value="{{newBusiness.address1}}" placeholder="Enter the address 1" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newBusiness[address2]" value="{{newBusiness.address2}}" placeholder="Enter the address 2" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newBusiness[city]" value="{{newBusiness.city}}" placeholder="Enter the city" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newBusiness[state]" value="{{newBusiness.state}}" placeholder="Enter the state" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newBusiness[country]" value="{{newBusiness.country}}" placeholder="Enter the country" class="form-control input-lg">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block" >Add Business</button>
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
