{{> messages }}
<h1>{{business.name}}</h1>
<dl class="dl-horizontal">
    <dt>Location</dt><dd>
    {{#if business.address}}
        {{business.address}}
    {{/if}}
    {{#if business.city}}
        , {{business.city}}
    {{/if}}
    {{#if business.state}}
        , {{business.state}}
    {{/if}}
    {{#if business.zip}}
        {{business.zip}}
    {{/if}}
    </dd>
</dl>
<h2>Recommendations</h2>
<dl class="bold-links">
{{#each favorites as |favorite|}}
    <dt>{{favorite.category}}:</dt>
    <dd>{{favorite.item}} recommended by <a href='/users/{{favorite.user.id}}/favorites'>{{favorite.user.username}}</a></dd>
{{/each}}
</dl>
