{{> messages }}
<form role="form" action="/auth/change-password" method="post" class="form-centered">
    <h3>Change Password</h3>
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" placeholder="New Password" class="form-control input-lg">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm New Password" class="form-control input-lg">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save New Password</button>
    </div>
</form>
