{{> messages}}
<h1>{{title}}</h1>
<dl class="dl-horizontal">
    <dt>Description</dt>
    <dd>{{feedItem.description}}</dd>
    <dt>When</dt>
    <dd>{{feedItem.created}}</dd>
</dl>
<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.history.go(-1); return false;">Go Back</button>
