{{> messages }}
<h1>{{title}}</h1>
<div class="col-sm-12 column-header">
    <div class="col-sm-2">When</div>
    <div class="col-sm-10">WhatÏ</div>
</div>
{{#each feedItems as |feedItem|}}
    <div class="col-sm-12 bold-links">
        <div class="col-sm-2">{{momentFrom feedItem.created}}</div>
        <div class="col-sm-10">{{{feedItem.description}}}</div>
    </div>
{{/each}}
