{{> messages }}
<form role="form" action="/auth/forgot-password" method="post" class="form-centered">
    <h3>Forgot Password</h3>
    <p>Enter your user name and we'll send you an email with instructions to login and reset your password.</p>
    <div class="form-group">
        <label for="username" class="sr-only">Your User Name</label>
        <input type="text" name="username" placeholder="Enter your user name" class="form-control input-lg">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send Email</button>
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
