{{> messages }}
<h1 class="cover-heading">Last Bites</h1>
<div class="bold-links">
    <p class="lead">If you had to choose your last meal, what would it be?</p>
    {{#unless user}}
        <p class="lead"><a href="/auth/signup" class="btn btn-lg btn-default">Join</a></p>
        {{else}}
            <p class="text-center">Welcome back {{user.username}}.</p>
            {{#if user.favoriteCount}}
                <p class="text-center">You have <a href="/users/{{user.id}}/favorites">{{user.favoriteCount}} favorites</a>. Why don't you add another?</p>
                <p class="text-center"><a href="/users/{{user.id}}/favorites/add" class="btn btn-lg btn-default">Add Another Favorite</a></p>
            {{else}}
                <p class="text-center">You haven't picked a favorite yet. Why don't you pick one now?</p>
                <p class="text-center"><a href="/users/{{user.id}}/favorites/add" class="btn btn-lg btn-default">Pick a Favorite</a></p>
            {{/if}}
            <p class="text-center"><a href="/feed-items" class="btn btn-lg btn-primary">What others are saying</a></p>
    {{/unless}}
</div>
<footer class="mastfoot">
    <div class="container">
        <p class="text-muted copyright">Copyright © 2015&nbsp;Last Bites, All Rights Reserved.&nbsp;</p>
    </div>
</footer>
