{{> messages }}
<form role="form" action="/auth/login" method="post" class="form-centered">
    <h2>Login</h2>
    <div class="form-group">
        <input id="username" type="text" name="username" placeholder="Username" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input id="password" type="password" name="password" placeholder="Password" class="form-control input-lg">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block" >Sign In</button>
        <button type="button" class="btn btn-link center-block" onclick="location.href='/auth/forgot-password';" >Forgot Password</button>
    </div>
    <div class="form-group">
        <p class="text-center no-margin">Don't have an account?
          <a role="button" href='/auth/signup'>Signup</a></p>
    </div>
</form>
