{{> messages }}
<form role="form" action="/auth/signup" method="post" class="form-centered">
    <h2>Sign Up</h2>
    <h3>Your Private Profile</h3>
    <small>Your private profile will not be shared</small>
    <div class="form-group">
        <input type="text" name="newUser[username]" value="{{newUser.username}}" placeholder="Enter your user name" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="email" name="newUser[email]" value="{{newUser.email}}" placeholder="Enter Your email address" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="password" name="newUser[password]" placeholder="Enter your password" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="password" name="newUser[confirmPassword]" placeholder="Confirm your password" class="form-control input-lg">
    </div>
    <h3>Your Public Profile</h3>
    <small>Your public profile will be publicly visible</small>
    <div class="form-group">
        <input type="text" name="newUser[handle]" value="{{newUser.handle}}" placeholder="Enter your public handle" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newUser[firstName]" value="{{newUser.firstName}}" placeholder="Enter your first name" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newUser[lastName]" value="{{newUser.lastName}}" placeholder="Enter your last name" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newUser[city]" value="{{newUser.city}}" placeholder="Enter your home city" class="form-control input-lg">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
