{{> messages}}
<h1>{{title}}</h1>
<dl class="dl-horizontal">
    <dt>UserName</dt>
    <dd>{{user.username}}</dd>
    <dt>User Type</dt>
    <dd>
        {{#if user.superUser}}SuperUser{{else}}User{{/if}}
    </dd>
    <dt>Email</dt>
    <dd>{{user.email}}</dd>
    <dt>Handle</dt>
    <dd>{{user.profile.handle}}</dd>
    {{#if user.profile.firstName}}
        <dt>First Name</dt>
        <dd>{{user.profile.firstName}}</dd>
    {{/if}}
    {{#if user.profile.lastName}}
        <dt>Last Name</dt>
        <dd>{{user.profile.lastName}}</dd>
    {{/if}}
    {{#if user.profile.city}}
        <dt>City</dt>
        <dd>{{user.profile.city}}</dd>
    {{/if}}
    {{#if user.profile.state}}
        <dt>State</dt>
        <dd>{{user.profile.state}}</dd>
    {{/if}}
    {{#if user.profile.country}}
        <dt>Country</dt>
        <dd>{{user.profile.country}}</dd>
    {{/if}}
</dl>
<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.history.go(-1); return false;">Go Back</button>
<form name="deleteUserForm" id="deleteUserForm" action="/users/del" method="post" class="form-centered">
    <input type="hidden" name="userid" value="{{user.id}}">
    <button type="button" class="btn btn-link center-block" onclick="showDialog();">Delete User</button>
</form>
<button class="btn btn-link center-block" type="button" onclick="location.href='/users/{{user.id}}/favorites';">User Favorites</button>
<script>
function showDialog()
{
    bootbox.dialog(
    {
        message: "Are you sure you want to delete this user?",
        title: "Are you sure?",
        buttons:
        {
            danger:
            {
                label: "Cancel",
                className: "btn-link",
                callback: function()
                {
                    console.log("uh oh, look out!");
                }
            },
            main:
            {
                label: "Delete User",
                className: "btn-primary",
                callback: function()
                {
                    console.log('user confirmed delete user');
                    document.deleteUserForm.submit();
                }
            }
        }
    });
}
</script>
