{{> messages}}
<h1>{{title}}
    <small>
        <a class="btn btn-link" role="button" href='/users/add'>New User</a>
    </small>
</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <td>User Name</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {{#each users as |user|}}
            <tr onclick="location.href='/users/{{user.id}}';">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
