{{> messages}}
<form action="/users/{{newItem.userId}}/favorites/add" method="post" class="form-centered">
    <h2>Add a Favorite</h2>
    <div class="form-group">
        <a href='/businesses/filterCategory'>{{#if categoryFilter}}{{categoryFilter}}{{else}}All Restaurants{{/if}}</a> near
        <a href='/businesses/filterLocation'>{{#if locationFilter}}{{locationFilter}}{{else}}Current Location{{/if}}</a>
    </div>
    <div class="form-group input-group-lg">
        {{!--<input id="businessName" type="text" name="newItem[businessName]" value="{{newItem.businessName}}
        " placeholder=" Enter a business name " class="form-control input-lg ">--}}
        <select class="form-control select2 "></select>
    </div>
    <div class="form-group ">
        <input type="text " name="newItem[category] " value="{{newItem.category}}" placeholder="Enter a category" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="text" name="newItem[item]" placeholder="Enter an item" class="form-control input-lg">
    </div>
    <div class="form-group">
        <input type="hidden" name="newItem[userId]" value="{{newItem.userId}}">
        <input id="businessName" type="hidden" name="newItem[businessName]" value="{{newItem.businessName}}">
        <input id="businessId" type="hidden" name="newItem[businessId]" value="{{newItem.businessId}}">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Create Favorite</button>
        <button class="btn btn-link center-block" type="button" onclick="window.history.go(-1); return false;">Go Back</button>
    </div>
</form>
<script type="text/javascript">
function formatBusiness(business) {
    console.log('formatBusiness: business is ', business);

    var markup =
        '<div class="clearfix">' +
        '<div class="col-sm-3">' + business.id + '</div>' +
        '<div class="col-sm-3">' + business.name + '</div>' +
        '<div class="col-sm-3">' + business.category + '</div>' +
        '<div class="col-sm-3">' + business.city + ', ' + business.state + '</div>' +
        '</div>';

    return markup;

}

function formatBusinessSelection(business) {
    console.log('formatBusinessSelection: business is ', business);
    return business.name;
}

$(document).ready(function() {
    var category = '{{categoryFilter}}';
    var city = '{{locationFilter}}';
    var minimumInputLength;
    if (city && category) {
        minimumInputLength = 1;
    } else {
        minimumInputLength = 3;
    }
    $(".select2").select2({
            placeholder: "Enter a business name",
            theme: "bootstrap",
            ajax: {
                url: "/api/businesses/isearch",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    console.log('select2.data() params = ', params);
                    var category = '{{categoryFilter}}';
                    var city = '{{locationFilter}}';
                    var query = "partialName=" + params.term + "&city=" + city + "&category=" + category;

                    return {
                        partialName: params.term, // search term
                        city: city,
                        category: category,
                        page: params.page
                    };
                },
                processResults: function(data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    console.log('select2.processResults() data = ', data);
                    return {
                        results: data.matches
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: minimumInputLength,
            templateResult: formatBusiness,
            templateSelection: formatBusinessSelection
        })
        .on("select2:select", function(e) {
            var data = e.params.data;
            //console.log("select2:select, event params is ", JSON.stringify(e.params));
            if (data.selected) {
                $("#businessId").val(data.id);
                $("#businessName").val(data.name);
            }
        });
});
</script>
{{!--
<script>
var options = {
    url: function(phrase) {
        if (phrase) {
            var category = '{{categoryFilter}}
';
            var city = ' {{locationFilter}}'; console.log('city is ', city); return "/api/businesses/isearch?partialName=" + phrase + "&city=" + city + "&category=" + category; } else { //return "/api/businesses/isearch?partialName=empty"; return null; } }, listLocation: "matches", requestDelay: 500, getValue: "name", matchResponseProperty: "inputPhrase", template: { type: "custom", method: function(value, item) { return '
    <div data-item-value="' + item.id + '">' + value + "</div>"; } }, list: { match: { enabled: true }, onSelectItemEvent: function() { var selectedItemValue = $(".easy-autocomplete").find("ul li.selected div[data-item-value]").attr("data-item-value"); console.log('selectItemEvent got', selectedItemValue); $("#businessId").val(selectedItemValue); } }, theme: "bootstrap" }; $(document).ready(function() { console.log("ready!"); $("#businessName").easyAutocomplete(options); });
    </script>
    --}}
