{{> messages}}
<h1>{{user.username}}</h1>
<p>Joined {{momentFrom user.created}}</p>
{{#if user.profile.city}}
<p>Located in {{user.profile.city}}{{#if user.profile.state}}, {{user.profile.state}}{{/if}}</p>
{{/if}}
<h2>Meals To Die For</h2>
<dl class="bold-links">
{{#each favorites as |favorite|}}
    <dt>{{favorite.category}}:</dt>
    <dd>{{favorite.item}} at <a href='/businesses/{{favorite.business.id}}/favorites'>{{favorite.business.name}}</a> in {{favorite.business.city}}, {{favorite.business.state}}</dd>
{{/each}}
</dl>
