{{> messages}}
<h1>{{title}}</h1>
<dl class="dl-horizontal">
    <dt>Business</dt>
    <dd><a href="/businesses/{{favorite.business.id}}">{{favorite.business.name}}</a></dd>
    <dt>Item</dt>
    <dd>{{favorite.item}}</dd>
    <dt>Category</dt>
    <dd>{{favorite.category}}</dd>
</dl>
<button type="button" class="btn btn-lg btn-primary btn-block" onclick="window.history.go(-1); return false;">Go Back</button>
<form name="deleteFavoriteForm" id="deleteFavoriteForm" action="/users/{{favorite.userId}}/favorites/{{favorite.id}}/del" method="post" class="form-centered">
    <input type="hidden" name="favoriteid" value="{{favorite.id}}">
    <button type="button" class="btn btn-link center-block" onclick="showDialog();">Delete This User Favorite</button>
</form>
<script>
function showDialog()
{
    bootbox.dialog(
    {
        message: "Are you sure you want to delete this favorite?",
        title: "Are you sure?",
        buttons:
        {
            danger:
            {
                label: "Cancel",
                className: "btn-link",
                callback: function()
                {
                    console.log("uh oh, look out!");
                }
            },
            main:
            {
                label: "Delete Favorite",
                className: "btn-primary",
                callback: function()
                {
                    console.log('user confirmed delete user favorite');
                    document.deleteFavoriteForm.submit();
                }
            }
        }
    });
}
</script>
